:root{
    /* font colors */
    --text-color-dark-roast: #583423;
    --text-color-medium-roast: #AF6746;
    --text-color-light-roast: #FFB17A;

    /* background colors */
    --text-bg-color-all-roasts: #cecece;
    --btn-bg-color-add-coffee: #a1a1a1;

    /* banner variables */
    --bg-anime-image: url("/images/tg-coffee-shop.jpeg");
    --bg-size: cover;
    --bg-height: 358px;
}

body{
    font-family: 'Kalam', cursive;
}

.font-color-Dark{
    color: var(--text-color-dark-roast);
}

.font-color-Medium{
    color: var(--text-color-medium-roast);
}

.font-color-Light{
    color: var(--text-color-light-roast);
}

.font-bg-color-all-roasts{
    background-color: var(--text-bg-color-all-roasts);
}

.button-color{
    background-color: var(--btn-bg-color-add-coffee);
}

.coffee-card-height{
    height: 3em;
}

.banner-image{
    background-image: var(--bg-anime-image);
    background-size: var(--bg-size);
    height: var(--bg-height);
    background-repeat: no-repeat;
}